<header>
    <img id="logo" src="/assets/logo.png" alt="Logo tkSoftwares">

    <nav>
        <p>Categorias</p>
        <p>Plataformas</p>
        <p>Licença</p>
    </nav>

    <form action="">
        <input type="search">
        <button type="submit"><i class="fa-solid fa-magnifying-glass fa-2xl" ></i></button>
    </form>

        <button class="cartButton"><i class="fa-solid fa-cart-shopping"></i></button>
        <div class="user">
            <img src="/assets/avatar_example.png" alt="Avatar do usuário">
            <p>Username</p>
        </div>
</header>
