@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

:root{
    --page-background: #5A6978;
    --escura1: #001157;
    --escura2: #1A2657;
    --intermediaria: #0021A3;
    --clara1: #002BD6;
    --clara2: #3C5CDD;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("src/assets/background.jpg");
    background-repeat: repeat-y;
    /* background-attachment: fixed; */
    background-size: cover;

    /* position: fixed; */
    justify-content: center;
    width: 100%;
}
