*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

:root{
    --page-background: #5A6978;
    --escura1: #001157;
    --escura2: #1A2657;
    --intermediaria: #0021A3;
    --clara1: #002BD6;
    --clara2: #3C5CDD;
}

html{
    font-size: 62.5%;
}
